.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EFD9CE;
    padding: 1rem;
}

.login-container {
    background-color: white;
    color: black;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease;
}

.myForm {
    
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}