body {
    display: block !important;
    place-items: initial !important;
}

#root {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.students-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    margin-top: 8rem;
    padding: 0 1rem;
    width: 100%;
    height: auto;
    min-height: 100vh;
    position: relative;
}

.students-title {
    margin-bottom: 48px;
    font-size: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 100%;
}

.students-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 100px;
    position: relative;
    z-index: 1;
}

.students-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.students-content-inner {
    width: 100%;
    max-width: 900px;
    position: relative;
}

.adminButtonsContainer-s {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.adminButton-s {
    width: fit-content;
    font-size: 24px;
    gap: 4rem;
    background-color: #095256 !important;
    color: white !important;
    border-radius: 10px;
}

.adminButton-s:hover {
    background-color: #0f777c !important;
}

.search-container {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 1.5rem;
    position: relative;
    z-index: 1;
}

.search-input {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.no-results {
    text-align: center;
    margin: 2rem 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 768px) {
    .students-container {
        margin-top: 3rem;
        gap: 2rem;
    }

    .students-title {
        font-size: 48px;
    }
}