.students-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    margin-top: 8rem;
    padding: 0 1rem;
    width: 100%;
    height: auto;
    max-height: 100vh;
}

.students-title {
    margin-bottom: 48px;
    font-size: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 100%;
}

.students-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 100px;
}

.students-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.students-content-inner {
    width: 100%;
    max-width: 900px;
}

.adminButtonsContainer-s {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 30px;
}

.adminButton-s {
    width: fit-content;
    font-size: 24px;
    gap: 4rem;
    background-color: #095256 !important;
    color: white !important;
    border-radius: 10px;
}

.search-container {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 1.5rem;
}

.search-input {
    background-color: rgb(225, 225, 225);
    border-radius: 8px;
}

@media (max-width: 768px) {
    .students-container {
        margin-top: 3rem;
        gap: 2rem;
    }

    .students-title {
        font-size: 48px;
    }
}